section#container-boats{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding: 1rem;
    margin: 15px 15px;
}

section.column-boat{
    border: 1px solid #5593ac;
    border-radius: 7px;
    padding: 1.5rem;
    text-align: center;
}

section.column-boat:hover{
    box-shadow: 0 14px 28px rgba(134,173,195,0.25), 0 10px 10px rgba(134,173,195,0.22);
}

section.column-boat h3.boat-name{
    margin-bottom: 1rem;
    color: #5593ac;
    font-weight: bolder;
}

p.boat-description, p.boat-type, p.boat-roman_name{
    color: #86adc3;
}

p.boat-type span, p.boat-roman_name span{
    font-weight: bolder;
}

p.boat-roman_name{
    margin-bottom: 1rem;
}

section.buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;
}

button.btn-boat-crew, button.btn-boat-captain{
    width: 100%;
    margin: auto;
    padding: 0.7rem;
    border: 1px solid #5593ac;
    border-radius: 5px;
    background-color: #86adc3;
    color: #fff;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
}

button.btn-boat-crew:hover, button.btn-boat-captain:hover{
    opacity: 1;
}

details {
    position: relative;
}

details[open] .overlay {
    display: block;
}

details[open] .modal {
    display: block;
}

summary {
    cursor: pointer;
    list-style: none;
}

/* estructura basica del modal */
div.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    z-index: 999; /* Asegura que esté sobre todo lo demás */
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    padding: 20px;
    background-color: #86adc3;
    border: 2px solid #5593ac;
    box-shadow: 0 14px 28px rgba(134,173,195,0.25), 0 10px 10px rgba(134,173,195,0.22);
    z-index: 1000;
}

.modal-close {
    display: block;
    text-align: right;
    cursor: pointer;
    font-size: 20px;
    margin-top: -10px;
}
/* estructura basica del modal */

div.modal  div h3.character_captain-name{
    margin-bottom: 1rem;
    font-weight: bolder;
}
/* modal character_captain */
div.character_captain-header, 
div.character_captain-fruit-header{
    padding: 0.3rem;
    margin-bottom: 0.5rem;
    border-bottom: 2px solid #fff;
    box-shadow: 0 20px 28px rgba(255, 2500, 255, 0.25), 0 5px 1px rgba(255, 255, 255, 0.22);
}

p.character_captain-size, 
p.character_captain-job, 
p.character_captain-status, 
p.character_captain-age{
    margin-bottom: 0.5rem;
}

p.character_captain-size span, 
p.character_captain-job span, 
p.character_captain-status span, 
p.character_captain-age span{
    font-weight: bolder;
}

section.character_captain-fruit{
    text-align: left;
}

section.character_captain-fruit label{
    display: inline-block;
    margin: 0px 0px 5px 15px;
}

p.cardBoat-captain-fruit-description span{
    display: block;
    text-align: justify;
    padding: 15px;
    padding-top: 0px;
}

section.character_captain-fruit img{
    display: block;
    width: 50%;
    margin: auto;
    padding: 1rem;
    border: 1px solid;
    box-shadow: 0 14px 28px rgba(255, 2500, 255, 0.25), 0 10px 10px rgba(255, 255, 255, 0.22);
}
/* modal character_captain */

/* modal crew */

div.modal  div h3.crew-name{
    margin-bottom: 1rem;
    font-weight: bolder;
}

p.crew-status,
p.crew-roman_name,
p.crew-total_prime,
p.crew-is_yonko{
    margin-bottom: 0.5rem;
}

p.crew-status span,
p.crew-roman_name span,
p.crew-total_prime span,
p.crew-is_yonko span{
    font-weight: bolder;
}

/* modal crew */