section#container-chapters{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding: 1rem;
    margin: 15px 15px;
}

section.column-chapter{
    border: 1px solid #5593ac;
    border-radius: 7px;
    padding: 1.5rem;
    text-align: center;
}

section.column-chapter:hover{
    box-shadow: 0 14px 28px rgba(134,173,195,0.25), 0 10px 10px rgba(134,173,195,0.22);
}

section.column-chapter h3.chapter-title{
    margin-bottom: 1rem;
    color: #5593ac;
    font-weight: bolder;
}

p.chapter-description{
    color: #86adc3;
    margin-top: 1rem;
}

p.chapter-description{
    display: block;
    text-align: justify;
    padding: 15px;
    padding-top: 0px;
}

section.buttons{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 7px;
}

button.btn-tome{
    width: 100%;
    margin: auto;
    padding: 0.7rem;
    border: 1px solid #5593ac;
    border-radius: 5px;
    background-color: #86adc3;
    color: #fff;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
}

button.btn-tome:hover{
    opacity: 1;
}

details {
    position: relative;
}

details[open] .overlay {
    display: block;
}

details[open] .modal {
    display: block;
}

summary {
    cursor: pointer;
    list-style: none;
}

/* estructura basica del modal */
div.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    z-index: 999; /* Asegura que esté sobre todo lo demás */
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    padding: 20px;
    background-color: #86adc3;
    border: 2px solid #5593ac;
    box-shadow: 0 14px 28px rgba(134,173,195,0.25), 0 10px 10px rgba(134,173,195,0.22);
    z-index: 1000;
}

.modal-close {
    display: block;
    text-align: right;
    cursor: pointer;
    font-size: 20px;
    margin-top: -10px;
}

div.modal  h3.tome-title{
    margin-bottom: 1rem;
    font-weight: bolder;
}

p.tome-tome_number,
p.tome-tome_japan_date_publish{
    margin-bottom: 0.5rem;
}

p.tome-tome_number span,
p.tome-tome_japan_date_publish span{
    font-weight: bolder;
}