<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- versión de desarrollo, incluye advertencias de ayuda en la consola -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- versión de producción, optimizada para tamaño y velocidad -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="css/format.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/loader.css">
    <link rel="stylesheet" href="css/volume.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Volumes</title>
</head>
<body>
    <h1 class="title">Volumes</h1>
    <section id="container-volumes">
        <!-- loader -->
        <div id="loading-animation" class="heading large-text" v-if="loading">
            <p>l</p><p>o</p><p>a</p><p>d</p><p>i</p><p>n</p><p>g</p>
        </div>
        <!-- loader -->
        <section v-if="errored">
            <p>Lo sentimos, no es posible obtener la información en este momento, por favor intente nuevamente mas tarde</p>
        </section>
        <div v-if="loading">Cargando...</div>
        <section v-else v-for="cardVolume in info" class="column-volume">
            <h3 class="volume-title"> {{ cardVolume.title }} </h3>
            <p class="volume-tome_number">
                <label for="tome_number">Tome number: </label>
                <span> {{ cardVolume.tome_number }} </span>
            </p>
            <p class="volume-tome_japan_date_publish">
                <label for="tome_japan_date_publish">Tome Japan date published: </label>
                <time :datetime="cardVolume.tome_japan_date_publish"> {{ cardVolume.tome_japan_date_publish }} </time><!-- ejemplo de fecha ya formateada: 21 de agosto de 2024 -->
            </p>
        </section>
    </section>
    <script src="js/volumes.js"></script>
</body>
</html>